section {
    /* background-color: red; */
    position: relative;
    margin-top: 350px;
}


/* Valorant Section */
.valo-section {
    justify-content: space-between;
    display: flex;
    position: relative;
}

.valo-section p span {
    color: #C14444;
}

.left-valo {
    width: 32%;
    text-align: left;
}

.left-valo p:nth-child(1) {
    margin-top: 0;
    font-size: 32px;
    font-weight: 800;
}

.left-valo p:nth-child(2) {
    margin-top: 60px;
    width: 80%;
    font-size: 17px;
    line-height: 25px;
}

.right-valo {
    width: 68%;
    display: flex;
    justify-content: space-between;
}

.both-valo {
    position: relative;
    width: 365px;
    height: 420px;
    border-radius: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    box-shadow: 5px 5px 25px 1px rgba(0,0,0,0.5),
    3px 3px 10px 1px rgba(0,0,0, 0.4);
    transition: all 0.3s ease-in-out;
}

.both-valo:hover {
    cursor: pointer;
    border-radius: 35px;
    box-shadow: 20px 20px 1px 2px rgba(0,0,0,0.45),
    10px 10px 1px 1px rgba(0,0,0, 0.55);
}

.both-valo p {
    position: absolute;
    bottom: 20px;
    left: 45px;
    font-size: 30px;
    text-align: left;
    font-weight: 800;
    line-height: 40px;
    transition: all 0.3s ease-in-out;
}

.both-valo:hover p {
    bottom: 30px;
    left: 55px;
}

.boosting {
    background-image: url(../../Images/Jett.png);
}

.accounts {
    background-image: url(../../Images/Phoenix.png);
}

/* Advertise Section */
.advertise-section {
    justify-content: space-between;
    display: flex;
    position: relative;
}

/* Mentoring Section */
.mentor-section {
    text-align: left;
}

.mentor--title {
    font-size: 32px;
    font-weight: 800;
}

.mentor--title span:nth-child(1) {
    color: #C14444;
}

.mentor--title span:nth-child(2) {
    color: #00A560;
}

.mentor--text {
    font-size: 18px;
    line-height: 25px;
    margin-top: 50px;
}

.book-mentor {
    margin-top: 50px;
    position: relative;
    display: flex;
}

.child {
    flex: 1;
}

.mentor-left li {
    font-size: 19px;
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.mentor-left li img {
    padding-right: 15px;
    filter: drop-shadow(0 0 3px rgba(0, 255, 149, 0.552)) drop-shadow(0 0 5px rgba(0, 255, 149, 0.455)) drop-shadow(0 0 10px rgba(0, 255, 149, 0.355)) drop-shadow(0 0 20px rgba(0, 255, 149, 0.455));
}

.mentor-right {
    position: relative;
}

.mentor-btn {
    cursor: pointer;
    width: 180px;
    height: 55px;
    line-height: 55px;
    border-radius: 10px;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    border: 1px solid #fff;
    position: absolute;
    right: 20px;
    bottom: 15px;
    transition: all 0.3s ease-in-out;
}

.mentor-btn:hover {
    background-color: #fff;
    color: #000;
}

.aboutus-section {
    text-align: left;
}

.aboutus--title {
    font-size: 32px;
    font-weight: 800;
}

.aboutus--title span:nth-child(1) {
    color: #C14444;
}

.aboutus--title span:nth-child(2) {
    color: #72FEFF;
}

.aboutus-text {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.aboutus-c-holder {
    width: 50%;
}

.aboutus-c-holder p {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
}

.aboutus-bold {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    text-align: center;
    align-items: center;
}

.aboutus-bold p {
    margin: 0;
}

.aboutus-bold p:nth-child(1) {
    font-size: 38px;
    font-weight: 800;
    text-shadow: 0px 0px 25px  rgba(255, 255, 255, 0.9);
}

.aboutus-bold p:nth-child(2) {
    margin-top: 10px;
    font-size: 82px;
    font-weight: 800;
    color: #C14444;
}

.stay-touch {
    display: flex;
    justify-content: center;
}

.touch-holder {
    position: relative;
}

.touch-holder div p {
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}

.touch-holder div span {
    color: #3B9E57;
}

.touch-holder input {
    margin-top: 15px;
    width: 650px;
    height: 50px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(241, 241, 241, 0.12) 100%);
    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(241, 241, 241, 0.12) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(241, 241, 241, 0.12) 100%);
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 7px );
    border: 1px solid rgba( 255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 0 0 0 25px;
    color: #fff;
    font-size: 16px;
    box-shadow: inset;
}

.touch-holder input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-style: italic;
}

.input-colors {
    position: absolute;
    width: 630px;
    height: 10px;
    background: #64E9FF;
    background: linear-gradient(to right, #64E9FF 0%, #00FF48 50%, #103CE7 100%);
    top: 64px;
    left: 20px;
}